.reviews {
    width: 85%;
    margin: auto;
    .divider {
        background: white;
    }
    .loading {
        .loadingReview {
            .info {
                margin-bottom: 25px;
            }
        }
        .spin {
            text-align: center;
            margin-top: 60px;
        }
    }
}