.syllabus {
    .btn {
        text-align: left;
        margin-bottom: 25px;
    }
    .main {
        .loading {
            padding: 180px 0;
            text-align: center;
            .text {
                font-size: 0.9em;
                margin-top: 10px;
            }
        }
        .chapters {
            .chapterExtra {
                .length {
                    display: inline-block;
                    width: 100px;
                }
                .icon {
                    i {
                        color: white;
                        font-size: 0.9em;
                        cursor: pointer;
                        font-weight: bold;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
            .chapter {
                width: 96%;
                margin-left: auto;
                .lecture {
                    cursor: pointer;
                    &:hover {
                        color: white;
                        .lectureName {
                            color: white;
                        }
                    }
                    .extra {
                        .user {
                            padding-left: 12px;
                        }
                        .length {
                            width: 100px;
                            display: inline-block;
                        }
                        .icon {
                            i {
                                color: white;
                                font-size: 0.9em;
                                cursor: pointer;
                                font-weight: bold;
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
            .addLecture {
                margin-bottom: 15px;
                text-align: center;
            }
            .updateLecture, .newLecture {
                .lectureType {
                    margin-top: 24px;
                    display: inline-block;
                    border-radius: 4px;
                    cursor: pointer;
                    background: rgb(48, 48, 61);
                    position: relative;
                    width: 80px;
                    height: 80px;
                    border: none;
                    .inlineDiv {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        width: 100%;
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;
                        background-color: white;
                        border-radius: 4px;
                        .text {
                            color: black;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            text-align: center;
                        }
                    }
                    &:hover {
                        .overlay {
                            opacity: 1;
                        }
                    }
                    &:first-child {
                        margin-right: 25px;
                    }
                }
                .selectedLectureType {
                    color: black;
                    background: #fada5e;
                }
            }
            .newLecture, .addLecture, .add, .newChapter {
                margin-top: 35px;
            }
            .updateChapter, .newChapter, .updateLecture, .newLecture {
                border-radius: 4px;
                border: 0.5px dashed rgba(255, 255, 255, 0.2);
                background: rgba(30, 30, 30, 0.4);
                padding: 12px 16px;
                .title {
                    margin-bottom: 35px;
                    font-size: 1.5em;
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 15px;
                }
                .btns {
                    text-align: center;
                    height: 210px;
                    position: relative;
                    & > div {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        button {
                            width: 100px;
                        }
                    }
                }
            }
            .updateChapter {
                border: none;
            }
        }
    }
}
.chapterPopover {
    :global(.ant-popover-inner-content) {
        padding: 0;
    }
    :global(.ant-popover-arrow) {
        border-color: white !important;
    }
    z-index: 200;
    width: auto;
}