.videoLecture {
    .header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: rgb(20, 20, 20);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, rgb(20, 20, 20), rgb(55, 55, 55));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, rgb(20, 20, 20), rgb(55, 55, 55)); 
        z-index: 100;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
        .infor {
            padding: 32px;
            padding-bottom: 21px;
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
            .iconCol {
                text-align: center;
                .icon {
                    font-size: 3.5em;
                    color: white;
                }
            }
            .textInfo {
                padding-left: 10px;
                .title {
                    font-size: 1.8em;
                    line-height: 15px;
                    color: #fada5e;
                    font-weight: 400;
                }
                .chapter {
                    line-height: 3em;
                    font-size: 1.2em;
                    color: white;
                }
            }
            .options {
                text-align: right;
                .metadata {
                    font-size: 1.75em;
                    cursor: pointer;
                    color: white;
                    & > span {
                        border-radius: 50%;
                        border: 4px solid #fada5e;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .tabs {
            height: 40px;
            line-height: 40px;
            text-align: center;
            .tabPane {
                font-size: 1.1em;
                cursor: pointer;
                transition: background-color 0.8s ease-in-out;
                &:hover {
                    opacity: 0.8;
                    background-color: #1e1e1e;
                    color: white;
                }
                .icon {
                    font-size: 1.4em;
                    position: relative;
                    top: 2px;
                }
                .text {
                    padding-left: 10px;
                }
            }
            .selectedTabPane {
                color: #fada5e;
                background-color: #1e1e1e;
            }
            .settings {
                border-left: 0.5px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .clear {
        height: 170px;
        width: 100%;
        clear: both;
    }
    .content {
        padding-left: 8%;
        padding-right: 8%;
        margin-bottom: 100px;
        position: relative;
        .editVideo {
            .loading {
                padding: 90px 0;
                text-align: center;
                .text {
                    margin-top: 12px;
                }
            }
            .uploadVideoContainer {
                width: 100%;
                margin: 20px 10px;
                background: @component-background;
                padding: 60px 36px;
                position: relative;
                border-top-left-radius: 10% 80px;
                border-bottom-left-radius: 10% 80px;
                border-top-right-radius: 10% 80px;
                border-bottom-right-radius: 10% 80px;
                // color: white;
                // text-align: center;
                box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 2px 2px;
                .empty {
                    margin-bottom: 32px;
                    width: 500px;
                    .icon {
                        color: @error-color;
                        display: inline-block;
                        margin-right: 12px;
                    }
                    .text {
                        color: @error-color;
                    }
                }
                .uploadVideo, .captions {
                    border-radius: 4px;
                    border: 0.5px dashed rgba(255, 255, 255, 0.2);
                    background: rgba(30, 30, 30, 0.6);
                    padding: 60px 32px;
                    padding-right: 54px;
                    width: 100%;
                    margin: auto;
                    transition: all 0.3ms ease-in;
                    position: relative;
                    .close {
                        position: absolute;
                        top: 32px;
                        right: 32px;
                        color: white;
                        font-size: 1.2em;
                        display: inline-block;
                        cursor: pointer;
                        &:hover {
                            color: #fada5e;
                        }
                    }
                }
                .uploadVideo {
                    .warning {
                        color: white;
                        font-size: 1.2em;
                        width: 80%;
                    }
                    .uploader {
                        margin-top: 32px;
                        margin-bottom: 12px;
                        position: relative;
                        .progressBar {
                            position: absolute;
                            z-index: 2;
                            height: 38px;
                            top: 1px;
                            bottom: 1px;
                            left: 123px;
                            .skeletonBox {
                                background: #fada5e;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to right, #fada5e, orange);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to right, #fada5e, orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                text-align: center;
                                padding-right: 10px;
                                width: 100%;
                                position: relative;
                                overflow: hidden;
                                &::after {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    transform: translateX(-100%);
                                    background-image: linear-gradient(
                                        90deg,
                                        rgba(transparent, 0) 0,
                                        rgba(rgba(255, 255, 255, 0.4), 0.2) 20%,
                                        rgba(rgba(255, 255, 255, 0.4), 0.5) 40%,
                                        rgba(transparent, 0)
                                    );
                                    animation: shimmer 1.5s infinite;
                                    content: '';
                                }
                                
                                @keyframes shimmer {
                                    100% {
                                        transform: translateX(100%);
                                    }
                                }
                                span {
                                    line-height: 38px;
                                    color: black;
                                    font-size: 1.2em;
                                }
                            }
                        }
                        .addOnBefore {
                            width: 100px;
                            display: inline-block;
                        }
                        .addOnAfter {
                            width: 38px;
                            display: inline-block;
                            .suffix {
                                color: white;
                                cursor: pointer;
                                &:hover {
                                    color: #fada5e;
                                }
                            }
                        }
                    }
                }
                .videoPlayer {
                    .btns {
                        text-align: center;
                        margin-bottom: 24px;
                        .btn {
                            display: inline-block;
                            margin-right: 8px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .player {
                        width: 100%;
                        display: inline-block;
                    }
                }
                .captions {
                    padding: 32px;
                    .title {
                        color: #fada5e;
                        font-size: 1.3em;
                        margin-bottom: 24px;
                    }
                    .captionsCont {
                        max-height: 222px;
                        overflow: auto;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .icon {
                            display: inline-block;
                            margin-right: 6px;
                            font-size: 0.9em;
                        }
                        .label {
                            color: @primary-color;
                        }
                        .action {
                            cursor: pointer;
                            font-size: 0.9em;
                            &:hover {
                                color: #fada5e;
                                text-decoration: underline;
                            }
                        }
                    }
                    .adding {
                        margin-top: 16px;
                        .uploader {
                            position: relative;
                            .addOnAfter {
                                width: 38px;
                                display: inline-block;
                                .suffix {
                                    color: white;
                                    cursor: pointer;
                                    &:hover {
                                        color: #fada5e;
                                    }
                                }
                            }
                        }
                        .cancel {
                            text-align: right;
                            // button {
                            //     height: 32px;
                            // }
                        }
                    }
                    .add {
                        margin-top: 16px;
                        button {
                            min-width: 130px
                        }
                    }
                }
            }
            
        }
        .settings {
            .description, .resources {
                .title {
                    font-size: 1.2em;
                    color: @primary-color;
                    margin-bottom: 35px;
                }
                .loading {
                    padding: 60px 0;
                    text-align: center;
                    .text {
                        margin-top: 12px;
                    }
                }
            }
            .divider {
                background: rgba(250, 218, 94, 0.8);
                margin-top: 46px;
                margin-bottom: 46px;
            }
            .description {
                .btn {
                    margin-top: 30px;
                    text-align: right;
                    button {
                        min-width: 100px;
                    }
                }
            }
            .resources {
                .main {
                    .btn {
                        margin-top: 24px;
                        button {
                            min-width: 120px;
                        }
                    }
                    .addResource {
                        margin-top: 24px;
                        position: relative;
                        .close {
                            position: absolute;
                            top: 12px;
                            right: 0;
                            z-index: 9000;
                            display: inline-block;
                            cursor: pointer;
                            &:hover {
                                color: white;
                            }
                        }
                        .browse {
                            border-radius: 5px;
                            border: 0.5px dashed rgba(255, 255, 255, 0.2);
                            background: rgba(30, 30, 30, 0.6);
                            padding: 65px 0 60px;
                            :global(.ant-upload-list) {
                                width: 80%;
                                margin: auto;
                            }
                            .inline {
                                .previewImage {
                                    width: 50%;
                                    margin: auto;
                                    text-align: center;
                                    margin-top: 16px;
                                }
                                .previewVideo {
                                    width: 80%;
                                    margin: auto;
                                    margin-top: 16px;
                                    background: black;
                                    max-height: 360px;
                                    video {
                                        max-height: 360px;
                                        margin: auto;
                                    }
                                }
                                .previewPdf {
                                    width: 250px;
                                    margin: auto;
                                    margin-top: 16px;
                                    .document {
                                        width: 100%;
                                    }
                                }
                                .warning {
                                    color: white;
                                    line-height: 21px;
                                }
                                .error {
                                    color: tomato;
                                    font-size: 0.9em;
                                    transition: opacity .25s ease-in-out;
                                    -moz-transition: opacity .25s ease-in-out;
                                    -webkit-transition: opacity .25s ease-in-out;
                                }
                                text-align: center;
                                width: 75%;
                                margin: auto;
                            }
                        }
                        .externalTab {
                            padding-left: 15%;
                            padding-right: 15%;
                            .btn {
                                text-align: right;
                                button {
                                    min-width: 100px;
                                }
                            }
                        }
                    }
                    .list {
                        .resource {
                            margin-bottom: 12px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .info {
                                .icon {
                                    color: #fada5e;
                                }
                                .name {
                                    margin-left: 10px;
                                    &:hover {
                                        color: white;
                                    }
                                }
                            }
                            .action {
                                text-align: right;
                                .icon {
                                    cursor: pointer;
                                    &:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.metadataPopover {
    z-index: 1000;
    width: 325px;
    :global {
        .ant-popover-inner-content {
            padding: 12px 16px;
        }
    }
    .userName {
        display: inline-block;
        margin-right: 12px;
    }
}