.videoLecture {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 100px;
    .divider {
        background: rgba(255, 255, 255, 0.7);
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .content {
        .loading {
            .titleSkeleton {
                li {
                    height: 20px;
                }
            }
            .spin {
                margin-top: 25px;
                padding: 160px 0px;
                text-align: center;
            }
        }
        .title {
            color: #fada5e;
            font-size: 2.5em;
        }
        .chapter {
            margin-top: 5px;
            color: @primary-color;
            font-size: 1.2em;
        }
        .main {
            margin-top: 40px;
            .uploadVideo {
                border-radius: 4px;
                border: 0.5px dashed rgba(255, 255, 255, 0.2);
                background: rgba(30, 30, 30, 0.6);
                padding: 60px 32px;
                padding-right: 54px;
                .warning {
                    color: white;
                    font-size: 1.2em;
                    width: 80%;
                }
                .uploader {
                    margin-top: 32px;
                    margin-bottom: 12px;
                    position: relative;
                    .progressBar {
                        position: absolute;
                        z-index: 2;
                        height: 38px;
                        top: 1px;
                        bottom: 1px;
                        left: 123px;
                        .skeletonBox {
                            background: #fada5e;  /* fallback for old browsers */
                            background: -webkit-linear-gradient(to right, #fada5e, orange);  /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to right, #fada5e, orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                            text-align: right;
                            padding-right: 10px;
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                            &::after {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                transform: translateX(-100%);
                                background-image: linear-gradient(
                                    90deg,
                                    rgba(transparent, 0) 0,
                                    rgba(rgba(255, 255, 255, 0.4), 0.2) 20%,
                                    rgba(rgba(255, 255, 255, 0.4), 0.5) 40%,
                                    rgba(transparent, 0)
                                );
                                animation: shimmer 1.5s infinite;
                                content: '';
                            }
                            
                            @keyframes shimmer {
                                100% {
                                    transform: translateX(100%);
                                }
                            }
                            span {
                                line-height: 38px;
                                color: black;
                            }
                        }
                    }
                    .addOnBefore {
                        width: 100px;
                        display: inline-block;
                    }
                    .addOnAfter {
                        width: 38px;
                        display: inline-block;
                        .suffix {
                            color: white;
                            cursor: pointer;
                            &:hover {
                                color: #fada5e;
                            }
                        }
                    }
                }
            }
        }
        .extra {
            margin-top: 6px;
            .text {
                margin-right: 4px;
            }
        }
    }
    .description, .resources {
        .loading {
            padding: 30px 0;
            text-align: center;
            .tip {
                margin-top: 10px;
                font-size: 0.9em;
            }
        }
        .main {
            margin-top: 25px;
        }
        .title {
            color: white;
            margin-bottom: 12px;
            font-size: 1.2em;
        }
    }
    .description {     
        .main {
            .editor > div {
                background: #1e1e1e;
            }
        }
        .btn {
            margin-top: 16px;
            text-align: right;
            button {
                min-width: 100px;
            }
        }
    }
    .resources {
        .main {
            .btn {
                margin-top: 16px;
                button {
                    min-width: 120px;
                }
            }
            .addResource {
                margin-top: 16px;
                position: relative;
                .close {
                    position: absolute;
                    top: 12px;
                    right: 0;
                    z-index: 9000;
                    display: inline-block;
                    cursor: pointer;
                    &:hover {
                        color: white;
                    }
                }
                .browse {
                    border-radius: 5px;
                    border: 0.5px dashed rgba(255, 255, 255, 0.2);
                    background: rgba(30, 30, 30, 0.6);
                    padding: 60px 0;
                    .inline {
                        .previewImage {
                            width: 20%;
                            margin: auto;
                            text-align: center;
                            margin-top: 16px;
                        }
                        .previewVideo {
                            width: 50%;
                            margin: auto;
                            margin-top: 16px;
                        }
                        .previewPdf {
                            width: 250px;
                            margin: auto;
                            margin-top: 16px;
                            .document {
                                width: 100%;
                            }
                        }
                        .warning {
                            color: white;
                            line-height: 21px;
                        }
                        .error {
                            color: tomato;
                            font-size: 0.9em;
                            transition: opacity .25s ease-in-out;
                            -moz-transition: opacity .25s ease-in-out;
                            -webkit-transition: opacity .25s ease-in-out;
                        }
                        text-align: center;
                        width: 75%;
                        margin: auto;
                    }
                }
                .externalTab {
                    padding-left: 10%;
                    padding-right: 10%;
                    .btn {
                        text-align: right;
                        button {
                            min-width: 100px;
                        }
                    }
                }
            }
            .list {
                .resource {
                    margin-bottom: 12px;
                    &::last-child {
                        margin-bottom: 0;
                    }
                    .info {
                        .icon {
                            color: #fada5e;
                        }
                        .name {
                            margin-left: 10px;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                    .action {
                        text-align: right;
                        .icon {
                            cursor: pointer;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}