.video {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 100px;
    .loading {
        .titleSkeleton {
            li {
                height: 20px;
            }
        }
        .spin {
            margin-top: 25px;
            padding-top: 270px;
            text-align: center;
        }
    }
    .title {
        color: #fada5e;
        font-size: 2.5em;
    }
    .chapter {
        margin-top: 5px;
        color: @primary-color;
        font-size: 1.2em;
    }
    .content {
        margin-top: 40px;
    }
    .extra {
        margin-top: 6px;
        .text {
            margin-right: 4px;
        }
    }
}