.editLayout {
    height: 100vh;
    .header {
        background: rgb(20, 20, 20);
        padding: 3px 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 64px;
        .inline {
            width: 100%;
            padding: 0 24px;
            margin: auto;
            text-align: left;
            position: relative;
            .info {
                .firstSkele {
                    :global(.ant-skeleton-paragraph) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                .infoContent {
                    .name {
                        margin-left: 12px;
                        color: @primary-color;
                        background: -webkit-linear-gradient(to right, @primary-color, gray);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, @primary-color, gray);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 1.5em;
                        position: relative;
                        bottom: 3px;
                    }
                    .privacy {
                        margin-left: 10px;
                        position: relative;
                        bottom: 4.5px;
                    }
                }
            }
            .actions {
                text-align: right;
                .preview {
                    margin-right: 25px;
                    min-width: 100px;
                    position: relative;
                    bottom: 3px;
                    //border-radius: 0;
                }
                .history, .toManage {
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                .history {
                    margin-right: 20px;
                }
            }
        }
    }
    .sider {
        height: 100%;
        overflow-y: scroll;
        background: rgb(30, 30, 30);
        &::-webkit-scrollbar {
            display: none;
        } 
        .inlineDiv {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        :global(.ant-layout-sider-trigger) {
            background-color: rgb(20, 20, 20);
        }
        .menu {
            padding-bottom: 60px;
            padding-top: 10px;
            background: inherit;
            :global {
                .ant-menu-sub {
                    background: rgb(30, 30, 30);
                }
                .ant-menu-item-selected {
                    color: @primary-color;
                }
                .ant-menu-item::after {
                    border-right: 3px solid @primary-color;
                }
                .ant-menu-item a {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .container {
        margin-top: 64px;
        height: calc(100vh - 64px);
        .main {
            width: 100%;
            padding: 60px;
            min-height: calc(100vh - 64px - 94px);
        }
    }
}

.subMenuPopup {
    ul {
        background-color: rgb(30, 30, 30) !important;
        :global {
            .ant-menu-item-selected {
                color: @primary-color;
            }
            .ant-menu-item::after {
                border-right: 3px solid @primary-color;
            }
        }
    }
}

.historyDrawer {
    height: 100vh;
    :global {
        .ant-drawer-header {
            height: 64px;
            background: #1e1e1e;
            line-height: 64px;
            .ant-drawer-title {
                line-height: 32px;
            }
            .ant-drawer-close {
                height: 64px;
                line-height: 64px;
            }
        }
    }
    .loading {
        height: calc(100vh - 64px);
        position: relative;
        & > div {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}